body {
  display: flex;
}

main {
  margin-left: 30px;
}

main img {
  cursor: pointer;
}

.contentList {
  width: 300px;
}

.inlineClass {
  display: block;
}

.secondStr {
  display: inline;
  color: red;
}

h1 {
  color: red;
  font-size: 30px;
}
